<ion-view view-title="Account"style="background-image: url(img/3.jpg);background-size: cover;">
  <ion-content>
    <div class="list card" >

      <div class="item">

        <h2 style="font-size: 24px ;text-align: center;">About Words Ninja</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/adamn.jpg.jpg">
        <p>

          优 点：
          1.成本低，适配多种移动设备<br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2.跨平台和终端<br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3.无需安装<br>
          技 术：HTML5 + CSS3 + Javascript<br>
          框 架：AngularJs + ionic<br>
        </p>
      </div>

    </div>

  </ion-content>
</ion-view>
