<ion-view hide-nav-bar="true" style="background-image: url(img/2.jpg);background-size:cover;">
  <ion-content>
    <h2 style="text-align: center;padding-top: 50%;color: #ffffff;">Words Ninja</h2>

    <div class="row" style="position: fixed;padding-top: 70%;">
      <div class="col-60 col-offset-20">
        <button class="button button-outline button-light" style="width: 100%; text-align: center " ng-click="goOn()">
          Start Ninja Game
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

